# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
.venv/
env/
*.env

# Data
data/
results/
logs/

# OS
.DS_Store
Thumbs.db
# VS Code
.vscode/

# VS Code temporary notebook runner
notebooks/tempCodeRunnerFile.ipynb
**/tempCodeRunnerFile.ipynb
project_strucure.png
project_strucure.png
notes/
src/*.egg-info/
